



@media only screen and (max-width : 1300px) {

  .title-icon-t {display: none;}
  .desc-wrap {margin: 0 5rem;}
  .foot-item i {font-size: 2em;}
  .foot-item span {display: none;}

  .more-item{margin:4rem 1rem;}

}

@media screen and (max-width: 850px) {

  .header{height: auto;}

  .title-icon-t {display: none;}

  .noti-show{width: 100%;}

  .sub-title{font-size: 5em;}
  .desc-wrap{margin: 0 0.5rem;}
  .base-content{margin: 0 0rem;}
  .icon-row{flex-direction: column;}
  .icon-item {width: 100%;}
  .icon-item:first-child {border-right: none;border-bottom: 1px solid #dedede;}
  .icon-item:nth-child(2) {border-right: none;border-bottom: 1px solid #dedede;}
  .icon-text{padding: 0;}
  .button-row{flex-direction: column;text-align: center;margin-top:0;padding-bottom:2rem;}
  .drop{margin-bottom: 5rem;}
  .more-row{flex-direction: column;}

  footer {width: 100%; margin: 0;}

}

@media only screen and (max-width : 500px) {

.overlay-img{height:20rem;width:20rem;}
.drop{padding: 1.2rem 2rem;margin: 3rem 0;}

.more-item{padding:4rem 0rem;}

}


/* Auto-resize video */
.videow {
	position: relative;
	padding-bottom: 53.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videow object,
.videow embed,
.videow iframe {
  border:0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: rgba(52, 73, 94,1.0);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color:rgba(189, 195, 199,1.0);
  outline: 1px solid slategrey;
}

