



@media only screen and (max-width : 1300px) {

  .title-icon-t {display: none;}
  .desc-wrap {margin: 0 5rem;}
  .foot-item i {font-size: 2em;margin:0;}
  .foot-item span {display: none;}

  .more-item{margin:4rem 1rem;}

}

@media screen and (max-width: 850px) {

  .header{height: auto;}

  .title-icon-t {display: none;}

  .noti-show{width: 100%;}

  .sub-title{font-size: 5em;padding-top:9rem;}
  .title{font-size: 5em;margin-bottom:2rem;padding-top:9rem;}
  .desc-wrap{margin: 0 0.5rem;}
  .base-content{margin: 0 0rem;}
  .icon-row{flex-direction: column;}
  .icon-item {width: 100%;}
  .icon-item:first-child {border-right: none;border-bottom: 1px solid #dedede;}
  .icon-item:nth-child(2) {border-right: none;border-bottom: 1px solid #dedede;}
  .icon-text{padding: 0;}
  .button-row{flex-direction: column;text-align: center;margin-top:0;padding-bottom:2rem;}
  .drop{margin-bottom: 5rem;}
  .more-row{flex-direction: column;}

  footer {width: 100%; margin: 0;}

  .home-title{font-size:4rem;text-shadow: 2px 2px 0px rgba(41, 128, 185,1.0);}
  .home-row{padding:2rem 0;flex-direction: column;}
  .home-text{font-size: 2em;margin:1rem;}

  .filter-item{width: 100%;text-align: center;margin:2rem 1rem;}
  .me-title{font-size:4rem;}

  .grid-item{margin:1rem;}

  .thanks {padding:1rem;font-size: 3em;}

  input[type=text],input[type=password],input[type=email] {

    height: 8rem;
    width: 100%;
    font-size: 2.5rem;
    margin:1rem 0;

  }

}

@media only screen and (max-width : 500px) {

.overlay-img{height:20rem;width:20rem;}
.drop{padding: 1.2rem 2rem;margin: 3rem 0;}

.desc{padding: 3rem 1rem 6rem 1rem;}

.more-item{padding:3rem 0rem;margin:1rem;}

.more-text p {padding:1rem 2rem !important;}

.more-list li {font-size:1.8rem !important;}

.form-new{padding:0;}
.form-new-link{flex-direction: column;margin:2rem 0;}
.form-new-link input{margin:0.5rem;}
.form-new-item{width:100%;}

.filter{width:100%;}

.me-wrap{padding:1rem !important;}

}


/* Auto-resize video */
.videow {
	position: relative;
	padding-bottom: 53.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videow object,
.videow embed,
.videow iframe {
  border:0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: rgba(52, 73, 94,1.0);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color:rgba(189, 195, 199,1.0);
  outline: 1px solid slategrey;
}


hr {
    display: block;
    width: 100%;
    height:1rem;

    border-bottom: 5px dashed grey !important;

    color:pink;
}
