<!DOCTYPE html>
<html lang="en">
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/resp.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/boxes.css' %}">

<link href="https://fonts.googleapis.com/css?family=Oswald|Pacifico|Open+Sans|Press+Start+2P" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="{% static 'js/ui.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'icons/pizza.png' %}">

<title>Mind Munchies</title>

</head>
<body>

  <audio id="ding">
    <source src="{% static 'sound/ding.mp3' %}" type="audio/mpeg">
      <source src="{% static 'sound/ding.ogg' %}" type="audio/ogg">
      </audio>
      <audio id="success">
        <source src="{% static 'sound/success.mp3' %}" type="audio/mpeg">
          <source src="{% static 'sound/success.ogg' %}" type="audio/ogg">
          </audio>

  <div class="overlay" id="overlay" style="display:none;">
    <div class="overlay-box">
      <div class="overlay-img">
        <div class="overlay-icon"><img src="{% static 'icons/cookie.png' %}" draggable="false"></div>
      </div>
      <h2 class="overlay-title">
        POP-UP title
      </h2>
      <div class="overlay-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar sapien ut nisi semper finibus.
      </div>
      <div class="overlay-button-row">
        <a href="javascript:hide_pop();" class="overlay-button drop drop-tiny drop-red ns">Back</a>
        <a class="overlay-button drop drop-tiny drop-green ns">Confirm!</a>
      </div>

    </div>
  </div>
  <div class="back base">

    <div class="menu-w">
      <div class="menu-box">

        <a href="/" class="title-icon-w">
        <img src="{% static 'icons/pizza.png' %}" class="title-icon" alt="go to home" draggable="false"><p class="title-icon-t">Home</p>

      </a><a href="#mymunchies" class="title-icon-w">
        <img src="{% static 'icons/french-fries.png' %}" class="title-icon" alt="go to MyMunchies" draggable="false"><p class="title-icon-t">My Munchies</p>

      </a><a href="#achievements" class="title-icon-w">
        <img src="{% static 'icons/chocolate.png' %}" class="title-icon"  alt="go to achievements" draggable="false"><p class="title-icon-t">Achievements</p>

      </a><a href="javascript:show_noti();" class="title-icon-w">
        <img src="{% static 'icons/soda.png' %}" class="title-icon" alt="go to your profile" draggable="false"><p class="title-icon-t">Me</p>
      </a>

      </div>

      <div id="noti" class="not-box noti-hide" style="display:none;">
        <div class="not-content">
        <a href="javascript:hide_noti();" class="not-close"><i class="fa fa-times-circle-o fa-4x" aria-hidden="true"></i></a>
        <h2 class="not-text">Munchie added!</h2>

      </div>
      </div>

    </div>


{% block content %}
{% endblock %}


    <footer>
      <div class="foot-content">

        <a href="#" class="foot-item">
          <i class="fa fa-plus" aria-hidden="true" title="Submit a munchie!"></i><span>Submit a munchie!</span>
        </a>

        <a href="#" class="foot-item">
          <i class="fa fa-exclamation" aria-hidden="true" title="About the project"></i><span>About the project</span>
        </a>

        <a href="#" class="foot-item">
          <i class="fa fa-question" aria-hidden="true" title="Got questions?"></i><span>Got questions?</span>
        </a>

        <a href="#" class="foot-item">
          <i class="fa fa-github" aria-hidden="true" title="Find me on github!"></i><span>Find me on github!</span>
        </a>

      </div>
    </footer>
    </div>



  </body>
</html>
