{% extends "article/base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="wrap">

<div class="sub-title">My Munchies!</div>

<section class="article-grid">

<a class="grid-item">
<div class="grid-item-top">
<div class="grid-item-icon">
<div class="grid-item-check"><i class="fa fa-check" aria-hidden="true"></i></div>
<div class="grid-item-heart"><i class="fa fa-heart" aria-hidden="true"></i></div>
<i class="fa fa-code fa-5x" aria-hidden="true"></i>
</div>
</div>
<div class="grid-item-title"><p>This is a long title<p></div>
<div class="grid-item-box-wrap">
<div class="grid-item-box icon-blue-b"></div>
<div class="grid-item-box icon-red-b"></div>
<div class="grid-item-box icon-green-b"></div>
</div>
</a>

<a class="grid-item">
<div class="grid-item-top">
<div class="grid-item-icon">
<div class="grid-item-check"><i class="fa fa-check" aria-hidden="true"></i></div>
<div class="grid-item-heart"><i class="fa fa-heart" aria-hidden="true"></i></div>
<i class="fa fa-code fa-5x" aria-hidden="true"></i>
</div>
</div>
<div class="grid-item-title"><p>Regex - Regular expressions<p></div>
<div class="grid-item-box-wrap">
<div class="grid-item-box icon-blue-b"></div>
<div class="grid-item-box icon-red-b"></div>
<div class="grid-item-box icon-green-b"></div>
</div>
</a>

<a class="grid-item">
<div class="grid-item-top">
<div class="grid-item-icon">
<div class="grid-item-check"><i class="fa fa-check" aria-hidden="true"></i></div>
<div class="grid-item-heart"><i class="fa fa-heart" aria-hidden="true"></i></div>
<i class="fa fa-code fa-5x" aria-hidden="true"></i>
</div>
</div>
<div class="grid-item-title"><p>Regex - Regular expressions<p></div>
<div class="grid-item-box-wrap">
<div class="grid-item-box icon-blue-b"></div>
<div class="grid-item-box icon-red-b"></div>
<div class="grid-item-box icon-green-b"></div>
</div>
</a>

<a class="grid-item">
<div class="grid-item-top">
<div class="grid-item-icon">
<div class="grid-item-check"><i class="fa fa-check" aria-hidden="true"></i></div>
<div class="grid-item-heart"><i class="fa fa-heart" aria-hidden="true"></i></div>
<i class="fa fa-code fa-5x" aria-hidden="true"></i>
</div>
</div>
<div class="grid-item-title"><p>Regex - Regular expressions<p></div>
<div class="grid-item-box-wrap">
<div class="grid-item-box icon-blue-b"></div>
<div class="grid-item-box icon-red-b"></div>
<div class="grid-item-box icon-green-b"></div>
</div>
</a>

<a class="grid-item">
<div class="grid-item-top">
<div class="grid-item-icon">
<div class="grid-item-check"><i class="fa fa-check" aria-hidden="true"></i></div>
<div class="grid-item-heart"><i class="fa fa-heart" aria-hidden="true"></i></div>
<i class="fa fa-code fa-5x" aria-hidden="true"></i>
</div>
</div>
<div class="grid-item-title"><p>Regex - Regular expressions<p></div>
<div class="grid-item-box-wrap">
<div class="grid-item-box icon-blue-b"></div>
<div class="grid-item-box icon-red-b"></div>
<div class="grid-item-box icon-green-b"></div>
</div>
</a>

<a class="grid-item">
<div class="grid-item-top">
<div class="grid-item-icon">
<div class="grid-item-check"><i class="fa fa-check" aria-hidden="true"></i></div>
<div class="grid-item-heart"><i class="fa fa-heart" aria-hidden="true"></i></div>
<i class="fa fa-code fa-5x" aria-hidden="true"></i>
</div>
</div>
<div class="grid-item-title"><p>Regex - Regular expressions<p></div>
<div class="grid-item-box-wrap">
<div class="grid-item-box icon-blue-b"></div>
<div class="grid-item-box icon-red-b"></div>
<div class="grid-item-box icon-green-b"></div>
</div>
</a>

</section>
</div>
{% endblock %}
