<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" type="text/css" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="styles/resp.css">
<link href="https://fonts.googleapis.com/css?family=Oswald|Pacifico|Open+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="js/ui.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="icons/pizza.png">

<title>Mind Munchies</title>

</head>
<body>
<div class="overlay" id="overlay" style="display:none;">
  <div class="overlay-box">
    <div class="overlay-img">
      <img src="icons/cookie.png" class="overlay-icon" draggable="false">
    </div>
    <h2 class="overlay-title">
      POP-UP title
    </h2>
    <div class="overlay-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar sapien ut nisi semper finibus.
    </div>
    <div class="overlay-button-row">
      <a href="javascript:hide_pop();" class="overlay-button drop drop-tiny drop-red ns">Back</a>
      <a class="overlay-button drop drop-tiny drop-green ns">Confirm!</a>
    </div>

  </div>
</div>








  <div class="header base">
    <div class="menu-w">
      <div class="menu-box">

        <a href="#home" class="title-icon-w">
        <img src="icons/pizza.png" class="title-icon"></img><p class="title-icon-t">Home</p>

      </a><a href="#mymunchies" class="title-icon-w">
        <img src="icons/french-fries.png" class="title-icon"></img><p class="title-icon-t">My Munchies</p>

      </a><a href="#achievements" class="title-icon-w">
        <img src="icons/chocolate.png" class="title-icon"></img><p class="title-icon-t">Achievements</p>

      </a><a href="#me" class="title-icon-w">
        <img src="icons/soda.png" class="title-icon"></img><p class="title-icon-t">Me</p>
      </a>

      </div>
    </div>

<div class="sub-title">Static Base Page</div>

<div class="base-content-box">
<div class="base-content">

content
<!-- Main content -->

</div>
</div>

<footer>
  <div class="foot-content">

    <p>  </p>

  </div>
</footer>
</div>
</body>
</html>
