{% extends "article/block.html" %}
{% block title %}About{% endblock %}
{% block block-title %}About!{% endblock %}
{% block block-content %}
{% load staticfiles %}

<div class="about">
This project was born out of the need for a central hub to collect the huge collection of knowledge on the internet.
Finding information and learing a subject should be easy, it shouldnt take hours of browsing forums and sites to find the best information, it should be served up hot and fresh.
<br><br>
MindMunchies makes knowledge bit-sized and removes the intimidation of learning something new.
</div>

{% endblock %}
{% block tail %}

{% endblock %}
