{% extends "article/block.html" %}
{% block title %}New munchie!{% endblock %}
{% block block-title %}Submit a munchie!{% endblock %}
{% block block-content %}
{% load staticfiles %}

<form method="post" action="/new-munchie" class="form-new">
{% csrf_token %}

<h1 class="form-new-title">Basics</h1>

<p><input type="text" placeholder="Title" class="form-fw" name="title" required></input></p>

<p><textarea rows="10" placeholder="Short description -- 500 characters max. Should include a short description of the subject and what the user will learn." name="short" required></textarea></p>

<div class="form-new-row">

<div class="center form-new-item"><label>Time:<input type="number" min="1" max="50" name="time" required>
</input></label></div>


<label>category:<select name="cat" required>
    <option selected disabled>Choose</option>
    {{cats|safe}}
</select></label>


<label>Difficulty:<select name="diff" required>

    <option value="1">Beginner</option>
    <option value="2">Intermediate</option>
    <option value="3">Advanced</option>

</select></label>

</div>

<hr>

<h1 class="form-new-title">Video</h1>

<label  class="form-fw">Insert the full embed link from share>embed on youtube. (may be excluded)
  <input type="text" placeholder="Youtube embed link (Only youtube accepted)" class="form-fw" name="video">
</input></label>

<hr>

<h1 class="form-new-title">Links</h1>

<div class="form-new-link">
<input type="text" placeholder="Link01-text" name="link01t"></input><input type="text" placeholder="Link01-link" name="link01l"></input>
</div>
<div class="form-new-link">
<input type="text" placeholder="Link02-text" name="link02t"></input><input type="text" placeholder="Link02-link" name="link02l"></input>
</div>
<div class="form-new-link">
<input type="text" placeholder="Link03-text" name="link03t"></input><input type="text" placeholder="Link03-link" name="link03l"></input>
</div>
<div class="form-new-link">
<input type="text" placeholder="Link04-text" name="link04t"></input><input type="text" placeholder="Link04-link" name="link04l"></input>
</div>
<div class="form-new-link">
<input type="text" placeholder="Link05-text" name="link05t"></input><input type="text" placeholder="Link05-link" name="link05l"></input>
</div>
<div class="form-new-link">
<input type="text" placeholder="Link06-text" name="link06t"></input><input type="text" placeholder="Link06-link" name="link06l"></input>
</div>

<hr>

<h1 class="form-new-title">Text</h1>

<div class="center"><input type="text" placeholder="text01-title" name="text01t"></input></div>
<p><textarea rows="2" placeholder="text01 -- block text" name="text01b"></textarea></p>

<div class="center"><input type="text" placeholder="text02-title" name="text02t"></input></div>
<p><textarea rows="2" placeholder="text02 -- block text" name="text02b"></textarea></p>

<div class="center"><input type="text" placeholder="text03-title" name="text03t"></input></div>
<p><textarea rows="2" placeholder="text03 -- block text"name="text03b"></textarea></p>

<div class="center"><input type="text" placeholder="text04-title" name="text04t"></input></div>
<p><textarea rows="2" placeholder="text04 -- block text" name="text04b"></textarea></p>

<div class="center"><input type="text" placeholder="text05-title" name="text05t"></input></div>
<p><textarea rows="2" placeholder="text05 -- block text" name="text05b"></textarea></p>

<hr>

<h1 class="form-new-title">Meta</h1>

<label  class="form-fw">Name:  (Will be shown in munchie)
  <input type="text" placeholder="Your name" class="form-fw" name="name" required>
</input></label>

<label  class="form-fw">Email:  (Will NOT be shown in munchie, in case we would like to contact you about your submission)
  <input type="text" placeholder="Your Email-address" class="form-fw" name="email" required>
</input></label>

<p><textarea rows="5" placeholder="Other comments. If your submission doesn't match any existing categories, please leave a suggestion here" name="comment"></textarea></p>


<div class="center"><button class="drop drop-blue form-btn" type="submit">Submit!</button></div>

</form>

{% endblock %}

{% block tail %}

{% endblock %}
